<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>订单列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="wrapper" class="toggled">
    <!--    sidebar-->
    <div th:replace="@{~/common/nav} :: sidebar"></div>

    <!--content-->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="col-md-12 column">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>订单id</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>地址</th>
                            <th>金额</th>
                            <th>订单状态</th>
                            <th>支付状态</th>
                            <th>创建时间</th>
                            <th colspan="2">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderDTO :${orderDTOPage.content}">
                            <td th:text="${orderDTO.orderId}"></td>
                            <td th:text="${orderDTO.buyerName}"></td>
                            <td th:text="${orderDTO.buyerPhone}"></td>
                            <td th:text="${orderDTO.buyerAddress}"></td>
                            <td th:text="${orderDTO.orderAmount}"></td>
                            <td th:text="${orderDTO.getOrderStatusEnum().message}"></td>
                            <td th:text="${orderDTO.getPayStatusEnum().message}"></td>
                            <td th:text="${orderDTO.createTime}"></td>
                            <td><a th:href="@{'/seller/order/detail?orderId='+${orderDTO.orderId}}">详情</a></td>
                            <td><a th:if="${orderDTO.getOrderStatusEnum().message}=='新订单'"
                                   th:href="@{'/seller/order/cancel?orderId='+${orderDTO.orderId}}">取消</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination  pull-right">
                    <li th:class="${currentPage<=1 ? 'disabled' : ''}">
                        <a aria-label="Previous"
                           th:href="@{'/seller/order/list?page='+${currentPage-1}}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="index:${#numbers.sequence(1,orderDTOPage.getTotalPages())}"
                        th:class="${currentPage==index ? 'disabled' : ''}">
                        <a th:href="@{'/seller/order/list?page='+${index}}" th:text="${index}"></a>
                    </li>
                    <li th:class="${currentPage >= orderDTOPage.getTotalPages() ? 'disabled' : ''}">
                        <a th:href="@{'/seller/order/list?page='+${currentPage+1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!--弹窗-->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    提醒
                </h4>
            </div>
            <div class="modal-body">
                你有新的订单
            </div>
            <div class="modal-footer">
                <button onclick="javascript:$('#notice')[0].pause();" type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button onclick="location.reload()" type="button" class="btn btn-primary">查看新的订单</button>
            </div>
        </div>

    </div>

</div>
<!--播放音乐-->
<audio id="notice" loop="loop">
    <source th:src="@{/mp3/song.mp3}" type="audio/mpeg">
</audio>
</body>
<script>
    var websocket = null;
    if ('WebSocket' in window) {
        websocket = new WebSocket('ws://localhost:8080/order/webSocket');
    } else {
        alert('该浏览器不支持websocket');
    }

    websocket.onopen = function (event) {
        console.log('建立连接');
    };

    websocket.onclose = function (event) {
        console.log('连接关闭')
    };

    websocket.onmessage = function (event) {
        console.log('收到消息' + event.data);
        //弹窗提醒
        $('#myModal').modal('show');

        $('#notice')[0].play();
    };
    websocket.onerror = function (event) {
        console.log('通信发生错误')
    };
    websocket.onbeforeunload = function (event) {
        websocket.close();
    };
</script>
</html>